In [ ]:
import pandas as pd

# Get User MBTI
From the answers from people joining the survey, we're going to map the results with our MBTI calculating. The cleaned data will contains MBTI type, percentages for each type for each person

In [ ]:
colours = pd.read_excel("/content/drive/MyDrive/4-Year/Recommender System /data/clean_data/Questionaires.xlsx",sheet_name = "Colours")#.fillna(0)
zodiacs = pd.read_excel("/content/drive/MyDrive/4-Year/Recommender System /data/clean_data/Questionaires.xlsx",sheet_name = "Western_Zodiacs")#.fillna(0)
numbers = pd.read_excel("/content/drive/MyDrive/4-Year/Recommender System /data/clean_data/Questionaires.xlsx",sheet_name = "Numbers")#.fillna(0)
musical_instruments = pd.read_excel("/content/drive/MyDrive/4-Year/Recommender System /data/clean_data/Questionaires.xlsx",sheet_name = "Musical_instruments")#.fillna(0)
social_media = pd.read_excel("/content/drive/MyDrive/4-Year/Recommender System /data/clean_data/Questionaires.xlsx",sheet_name = "Social_media")#.fillna(0)
music_genres = pd.read_excel("/content/drive/MyDrive/4-Year/Recommender System /data/clean_data/Questionaires.xlsx",sheet_name = "Music_genres")#.fillna(0)
seasons = pd.read_excel("/content/drive/MyDrive/4-Year/Recommender System /data/clean_data/Questionaires.xlsx",sheet_name = "Seasons")#.fillna(0)
alignments = pd.read_excel("/content/drive/MyDrive/4-Year/Recommender System /data/clean_data/Questionaires.xlsx",sheet_name = "Alignment")#.fillna(0)

In [ ]:
#User
users = pd.read_excel("/content/drive/MyDrive/4-Year/Recommender System /data/clean_data/Questionaires.xlsx",sheet_name = "User_In4")
ratings = pd.read_excel("/content/drive/MyDrive/4-Year/Recommender System /data/clean_data/Questionaires.xlsx",sheet_name = "Ratings")
mvs = pd.read_excel("/content/drive/MyDrive/4-Year/Recommender System /data/clean_data/Questionaires.xlsx",sheet_name = "Movies")

In [ ]:
question_prompt = ["What is your western zodiac?",#cung hoàng đạo
                  #"What is your favourite colour?", # Màu sắc yêu thích
                   #"What nation you want to live in the future?", #Quốc gia muốn sống trong tương lai
                   "What is you favourite number?", #Con số ưa thích
                   "What genre of music do you like the best?", #Thể loại nhạc yêu thích
                   "What is your favourite musical instrument", #Nhạc cụ yêu thích là gì
                   #"Choose a picture that you like the best.", #Bức tranh yêu thích, chiếu theo thể loại hình ảnh
                   "What social media community do you like the best?", #Nền tảng mạng xã hội yêu thích
                   "What is your favourite season?", # Mùa trong năm yêu thích
                   "If you have a chance to play a role in a movie, what type of character do you want to be?"# Vai trò nhân vật bạn muốn đóng trong phim
                   ]

## Get User MBTI

In [ ]:
data = {    'Zodiacs':zodiacs,
            'Colours':colours,
            "Numbers":numbers,
            "Music_Genres":music_genres,
            "Musical_instruments":musical_instruments,
            "Social_Media":social_media,
            "Seasons":seasons,
            "Alignments":alignments
        }

In [ ]:
def count(asr):
  c = []
  c.append(str(len(asr[asr.MBTI_E > 60])) + '|' + str(len(asr[asr.MBTI_I > 60])))
  c.append(str(len(asr[asr.MBTI_S > 60])) + '|' + str(len(asr[asr.MBTI_N > 60])))
  c.append(str(len(asr[asr.MBTI_T > 60])) + '|' + str(len(asr[asr.MBTI_F > 60])))
  c.append(str(len(asr[asr.MBTI_J > 60])) + '|' + str(len(asr[asr.MBTI_P > 60])))
  return c

In [ ]:
def compare_MBTI(mbti):
  result = []
  if mbti.MBTI_E > mbti.MBTI_I:
    result.append('E')
  elif mbti.MBTI_E < mbti.MBTI_I:
    result.append('I')
  else:
    result.append('X')

  if mbti.MBTI_S > mbti.MBTI_N:
    result.append('S')
  elif mbti.MBTI_S < mbti.MBTI_N:
    result.append('N')
  else:
    result.append('X')

  if mbti.MBTI_T > mbti.MBTI_F:
    result.append('T')
  elif mbti.MBTI_T < mbti.MBTI_F:
    result.append('F')
  else:
    result.append('X')

  if mbti.MBTI_J > mbti.MBTI_P:
    result.append('J')
  elif mbti.MBTI_J < mbti.MBTI_P:
    result.append('P')
  else:
    result.append('X')

  result = ''.join(result)
  return result

In [ ]:
import string
def get_MBTI(userID):
  answers = pd.DataFrame(columns = ['MBTI_E', 'MBTI_I', 'MBTI_S', 'MBTI_N', 'MBTI_T', 'MBTI_F','MBTI_J', 'MBTI_P'])
  features = ['Zodiacs', 'Colours', 'Numbers', 'Seasons', 'Music_Genres','Musical_instruments', 'Social_Media', 'Alignments']
  for f in features:
    res = users[users.ID == userID][f].values[0]
    df = data[f]
    awsr = df[df.Name_Vi == res].loc[:,['MBTI_E', 'MBTI_I', 'MBTI_S', 'MBTI_N', 'MBTI_T', 'MBTI_F','MBTI_J', 'MBTI_P']]
    answers.loc[answers.shape[0]] = awsr.values[0]
  print(answers)
  ratio = count(answers)
  answers = answers.sum()/8
  answers = answers.round()
  return answers, ratio

In [ ]:
MBTIs = pd.DataFrame(columns = ['ID','MBTI_E', 'MBTI_I', 'MBTI_S', 'MBTI_N', 'MBTI_T', 'MBTI_F','MBTI_J', 'MBTI_P','mbti', 'ratio_E_I','ratio_S_N','ratio_T_F','ratio_J_P'])
for id in users.ID:
  answer, ratio = get_MBTI(id)
  mbti = compare_MBTI(answer)
  MBTI = [id] + answer.values.tolist() + [mbti] + ratio
  MBTIs.loc[MBTIs.shape[0]] = MBTI

In [ ]:
MBTIs.to_csv('user_MBTI_only.csv', index = False)

In [ ]:
df = pd.merge(users, MBTIs, on = 'ID')

In [ ]:
df.to_csv('users_MBTIs.csv', index = False)

In [ ]:
MBTIs

    ID  MBTI_E  MBTI_I  MBTI_S  ...  ratio_E_I  ratio_S_N  ratio_T_F  ratio_J_P
0    1    32.0    68.0    37.0  ...        2|6        2|5        3|3        3|4
1    2    43.0    57.0    24.0  ...        3|4        1|7        1|3        4|3
2    3    56.0    44.0    39.0  ...        4|3        2|5        1|5        3|5
3    4    46.0    54.0    39.0  ...        3|5        3|5        3|2        3|4
4    5    39.0    61.0    37.0  ...        3|5        2|5        1|4        3|4
..  ..     ...     ...     ...  ...        ...        ...        ...        ...
85  86    28.0    72.0    24.0  ...        1|6        1|6        3|2        2|5
86  87    34.0    66.0    32.0  ...        2|6        2|6        2|4        4|4
87  88    54.0    46.0    21.0  ...        4|3        0|6        1|5        3|4
88  89    20.0    80.0    15.0  ...        1|7        0|7        3|2        4|2
89  90    37.0    63.0    41.0  ...        2|5        3|5        2|4        3|4

[90 rows x 14 columns]

# Ratings preprocessing
- Remove nan datapoints

In [ ]:
#Deleted userID = 45
ratings = pd.read_excel("/content/drive/MyDrive/4-Year/Recommender System /data/clean_data/Questionaires.xlsx",sheet_name = "Ratings").iloc[1:,:]

In [ ]:
rtg = ratings.set_index('ID')

In [ ]:
rtg.index

Int64Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
            18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
            35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
            52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
            69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
            86, 87, 88, 89, 90],
           dtype='int64', name='ID')

In [ ]:
count0 = 0
for i in range(1,90):
  for j in range(1,20):
    if rtg.iloc[i,j] == 0 :
      count0 += 1

In [ ]:
count0

347

# Creating Test data
1. Masking 180 ratings for existed user-based collaborated filtering
2. Get 9 user for testing cold start

## Masking for 1

In [ ]:
import numpy as np

In [ ]:
from numpy.random import random_integers as rnd_int

In [ ]:
sample = []
true_idx = []
rtg_ = rtg.copy()
true_rtg = []
count = 0
for i in range(200):
  s = (rnd_int(90), rnd_int(20))
  if s not in sample :
    if  count < 180:
      sample.append(s)
      count += 1
    else:
      break

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: DeprecationWarning: This function is deprecated. Please call randint(1, 90 + 1) instead
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: DeprecationWarning: This function is deprecated. Please call randint(1, 20 + 1) instead
  import sys

In [ ]:
rtg_ = rtg.copy()
count = 0
true = pd.DataFrame(columns = ['user_ID','mv_ID','Rating'])
for s in sample:
  true_rating = rtg_.loc[s[0],s[1]]
  true.loc[true.shape[0]] = [s[0],s[1],true_rating]
  #masking
  rtg_.loc[s[0],s[1]] = -1

In [ ]:
true.to_csv('/content/drive/MyDrive/4-Year/Recommender System /data/clean_data/True_1.csv', index = False)

In [ ]:
count1 = 0
for i in range(0,90):
  for j in range(0,20):
    if rtg_.iloc[i,j] == -1 :
      count1 += 1
count1

180

In [ ]:
rtg_.to_csv('/content/drive/MyDrive/4-Year/Recommender System /data/clean_data/Ratings_1_train.csv')

## Masking for 2.

In [ ]:
rtg_2 = rtg.copy()

In [ ]:
from numpy.random import default_rng

rng = default_rng()
numbers = rng.choice(90, size=9, replace=False)
numbers

array([64, 23, 62, 45, 56, 65, 41, 87, 25])

In [ ]:
ID_user = []
#Random 9 users for test
test_2 = pd.DataFrame(columns = rtg_2.columns)
for i in numbers:
  ID_user.append(i)
  test_2.loc[test_2.shape[0]] = rtg_2.loc[i,:]

In [ ]:
test_2['ID'] = ID_user

In [ ]:
test_2 = test_2.set_index('ID')

In [ ]:
test_2.to_csv('/content/drive/MyDrive/4-Year/Recommender System /data/clean_data/True_2.csv')

In [ ]:
rtg_2_train = rtg_2.drop(numbers)

In [ ]:
rtg_2_train.to_csv('/content/drive/MyDrive/4-Year/Recommender System /data/clean_data/Ratings_2_train.csv')